.Main{
    height:612px;
    width:100%;
    background-image: url('./images/bac.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    color: black;
    text-align: center;
  }
  .Main:active {
    transform: scale(1.2);
  }
.Main-div{
    position: absolute;
    background-color: rgb(250, 244, 244);
    align-items: center;
    height:200px;
    color:black;
    margin:400px;
    padding-left: 20px;
    padding-right: 20px;
  
  }